@import "tailwindcss";
@config "../tailwind.config.ts";

@variant dark (&:where(.dark, .dark *));

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer base {
  body {
    @apply bg-white text-black;
  }
  
  html.dark body {
    @apply bg-[#12151e] text-white;
  }
}